<configuration>

    <logger name="gov.gsa.pivconformance.card.client.X509CertificateDataObject.TLVParser" level="OFF"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>piv-conformance.log</file>

        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] %logger %msg%n</pattern>
        </encoder>
        <filter class="gov.gsa.pivconformancetools.LogThresholdFilter">
            <logger>gov.gsa.pivconformance.card.client.X509CertificateDataObject.TLVParser</logger>
            <level>ERROR</level>
        </filter>
        <filter class="gov.gsa.pivconformancetools.LogThresholdFilter">
            <logger>gov.gsa.pivconformance.card.client.X509CertificateDataObject</logger>
            <level>ERROR</level>
        </filter>
        <filter class="gov.gsa.pivconformancetools.LogThresholdFilter">
            <logger>gov.gsa.pivconformance.card.client.CardholderBiometricData</logger>
            <level>ERROR</level>
        </filter>
        <filter class="gov.gsa.pivconformancetools.LogThresholdFilter">
            <logger>gov.gsa.pivconformance.card.client.CardHolderUniqueIdentifier</logger>
            <level>ERROR</level>
        </filter>
    </appender>


    <root level="DEBUG">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
